
.caixa {
    width: 0px;
    height: 0px;
}

.card>input {
    display: block;
    margin-top:5px;
}

#menu-toggle:checked ~ .caixa {
    width: 10px;
    height: 10px;
}

nav {
    background-color: #1F6EA3;
    color: #fff;
    font-size: 2em;
}

nav > ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px auto;
}

.hamburguer {
    padding-left: 12px;
}


nav .push-right {
    margin-left: auto;
    margin-right: 12px;
}

.box {
    display: none;
    width: auto;
    height: auto;
    background-color: #1F6EA3;
    margin: 0;
    padding: 0px 10px;
}

.box a {
    color: #fff;
    text-decoration:solid;
    font-size: 0.5em;
}
.check-box-menu  {
    display: none;
}

#menu-toogle:checked ~ .box {
    display: block;
    position: absolute; 
}

.content {
    display: flex;
    flex-direction: column;
}


.header1 {
    color: #293F4E;
    align-self: center;
}

.center{
    text-align: center;
}

.dualCard {
    display: flex;
    gap:12px;
    margin-left: auto;
    margin-right: auto;
    flex: 0 1 1;
}

.card {
    flex: auto;
    width: 250px;
    height: auto;
    border: 2px solid #A3A21F;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: #A3A21F35;
    display: flex;
    flex-direction: column;
}

.card > h2 {
    text-align: center;
}

.at-bottom {
    margin-top: auto;
    padding-bottom: 0;
}

.sub-content-dual-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

button {
    background-color: #1F6EA3;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #1F6EA3;
    width: 90px;
    height: 20px;
    margin: 10px 0 0 0;
    font-weight: 750;
}

.button-reload {
    display: flex;
    width: auto; 
    height: auto;
    font-size: 1.1em;
    text-align: center;  
    margin: 10px auto;
}

.card-errors {
    height: 412.38px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

