<nav>
    <ul>
        <li>
            <label class="hamburguer" for="menu-toogle">&#8801;</label>
            <div id="toogle-menu">
                <input class="check-box-menu" id="menu-toogle" type="checkbox">
                <div class="box">
                    <a href="../index.html#exercises">Exercises</a>
                    <br>
                    <a href="../index.html#errors">Errors</a>
                    <br>
                    <a href="number-game.html">number game</a>
                    <br>
                    <a href="cadastro.html">Sing In</a>
                </div>
            </div>
        </li>
        <li class="push-right">Logo</li>
    </ul>
</nav>